img.next-avatar {
  border-radius: 50%;
}

.divider { 
  height: 90px;
  
  border-left: 1px solid var(--chakra-colors-gray-300);
}

.configs {
  border-width: 3px;
  border-color: silver;
  border-spacing: inherit;
  border-radius: 25px;
  padding: 10px;
}